<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    <main id="main-content" class="container">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
